body {
    background: #111;
    color: white;
    font-family: Arial;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    background: #1c1c1c;
    padding: 30px;
    border-radius: 12px;
    width: 400px;
}

.btn {
    background: #00ff99;
    padding: 12px;
    display: block;
    text-align: center;
    border-radius: 8px;
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.fade-in { animation: fade 0.8s; }
.slide-up { animation: slide 0.6s; }
.pop-in { animation: pop 0.4s; }

@keyframes fade {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes slide {
    from { transform: translateY(40px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}

@keyframes pop {
    from { transform: scale(0.8); }
    to { transform: scale(1); }
}
